html(lang='en')
 head
   title Inbox 
   style
      include styles.css
 body
   div#links 
   -let databaseD = database;
    a(href="/logout") Logout 
    a(href="/swapAccounts") Switch Accounts (Current Account Type: #{accountType}) 
    a(href="/searchArtwork") Search for Art:
    a(href="/viewLikedandReviewed") View Liked and Reviewed Art
    a(href="/inbox") Notifications: #{notificationCount}
    -if(accountType == "artist")
      a(href="/addNewArt") Add New Art
      a(href="/addWorkshop") Add Workshop
    -if(admin == "true")
      a(href="/viewers") See Users
    a(href=`/profile/${id}`) View Profile

   div#main
    div#left
        h1 Inbox: 
        ul
         each value in databaseD.inbox 
            li #{value}